*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
}
.top-bar{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 80px;
    width: 100%;
    background: lightblue;
}
.first{
    display: flex;
    align-items: center;
}
.logo img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-right: 7px;
}
.boxContainer{
    margin: auto;
    background: white;
    height: 40px;
    padding: 0px 10px;
    border-radius: 50px;
}
.elementsContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
    color: black;
    font-weight: 500;
}
.search:focus{
    outline: none;
}
.material-icons{
    font-size: 26px;
    color: black;
    padding-left: 10px;
}
.second{
    display: flex;
    align-items: center;
}
.profile-picture img{
    border-radius: 50px;
}
