*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background: rgb(243, 243, 243);
}
.top-bar{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 80px;
    width: 100%;
    background: lightblue;
}
.first{
    display: flex;
    align-items: center;
}
.logo img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-right: 7px;
}
.boxContainer{
    margin: auto;
    background: white;
    height: 40px;
    padding: 0px 10px;
    border-radius: 50px;
}
.elementsContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
    color: black;
    font-weight: 400;
}
.search:focus{
    outline: none;
}
.material-icons{
    font-size: 26px;
    color: black;
    padding-left: 10px;
}
@media (max-width: 680px){
    
    .top-bar{
        height: 60px;
    }
    .logo img{
        width: 45px;
        height: 45px;
        margin-left: 5px;
    }
    .boxContainer{
        height: 30px;
        padding: 0px 5px;
    }
    .profile-picture img{
        width: 45px;
        height: 45px;
        margin-left: 10px;
    }
    .icon{
        font-size: 35px !important;
    }
}
.second{
    display: flex;
    align-items: center;
}
.profile-picture img{
    border-radius: 50px;
}
.content{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box1{
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgba(194,194,194,1);
}
.box-inner{
    padding: 10px;
    width: 280px;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 5px -5px rgba(0,0,0,0.28);
}
.picture img{
    border-radius: 50px;
}
.text-image{
    margin-left: 10px;
}
.text-image p{
    font-size: 13px;
}
.inline{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.inline p{
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.picture-2 img{
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 5px;

}
.feed{
    padding: 10px;
    width: 450px; 
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgba(194,194,194,1);
 }
@media( max-width:530px){
    
    .picture-2 img{
        width: 65px;
        height: 65px;
    }
    .feed{
        width: 300px;
    }
    .feed img{
        width: 300px;
        height: 400px;
    }
}
.box-2{
    padding: 10px;
    width: 300px;
    height: 500px;
    margin: 10px;
    margin-left: 25px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgba(194,194,194,1);
}
.box-2 .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex p{
    padding: 10px;
    color: darkgray;
}
@media (max-width:425px){
    box
}