*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background: rgb(243, 243, 243);
}
.top-bar{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 80px;
    width: 100%;
    background: lightblue;
}
.first{
    display: flex;
    align-items: center;
}
.logo img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-right: 7px;
}
.boxContainer{
    margin: auto;
    background: white;
    height: 40px;
    padding: 0px 10px;
    border-radius: 50px;
}
.elementsContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
    color: black;
    font-weight: 400;
}
.search:focus{
    outline: none;
}
.material-icons{
    font-size: 26px;
    color: black;
    padding-left: 10px;
}
.second{
    display: flex;
    align-items: center;
}
.profile-picture img{
    border-radius: 50px;
}
.content{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.box1{
    width: 300px;
    height: 300px;
    padding: 10px;
    background: white;
    border-radius: 10px;
}
.box-inner{
    padding: 10px;
    width: 280px;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 5px -5px rgba(0,0,0,0.28);
}
.picture img{
    border-radius: 50px;
}
.text-image{
    margin-left: 10px;
}
.inline{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.inline p{
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
}
